*{
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
}
/* top nav Responsiveness */
@media(max-width:720px){
  .hideRes {
    display: none;
  }
  .topnavwidth{
   width: auto;
  }
}
.white-background {
background-color: white;
}
/* bottom nav responsiveness */
.bar{
  display: none;
}
@media(max-width:1528px){
.bottom {
width: 100vw;
}
}
@media(max-width:1225px){
  .hide {
display: none;
  }
  .bottom {
    width: 80vw;
    }
    .left-nav {
      font-size: 1rem;
    }
  
  }

  @media(max-width:1046px){
.bar{
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.left-nav{
  display: none;
}
   
    } 

    /* mobile view styling */
    .offcanvas {
      background-color: rgba(170, 157, 157, 0.753) !important; /* Replace with your desired color */
      color: white;
    }
    .cross {
      color: white !important;
    }

    /* icons section */
    .slider-item {
      padding: 0 10px; /* Adjust gap between slides */
    }
    
    .slider-image {
      width: 100%; /* Ensures the images fit within the container */
      object-fit: contain; /* Prevents stretching of images */
    }
    